<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddUser</title>
</head>
<body>


<h1>Create User</h1>

<form action="#" th:action="@{/admin/addUser}" th:object="${newUser}" method="post">

    Login:
    <input type="text" th:field="*{name}"/>
    <br/>
    Password:
    <input type="text" th:field="*{password}"/>
    <br/>
    <input type="submit" value="Create"/>
</form>
<br/>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>